@import "tailwindcss";

@theme {
  --color-primary: #c1271a;
  --color-primary-light: #e3472a;
  --color-primary-dark: #84180e;

  --color-background: #1f2f55;
  --color-surface: #0c1322;
  --color-foreground: #f1f5f9;

  --color-accent: #0ea5e9;
  --color-accent-dark: #0284c7;
  --color-success: #16a34a;
  --color-danger: #dc2626;
}
